<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NumericDoc - Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container dashboard">
        <header>
            <h1>NumericDoc</h1>
            <div class="user-info">
                <p style="margin-right: 50px; font-size: 30px; color: green;">Welcome <%= user.username %>!</p>
                <a href="/logout" class="logout" style="padding: 5px 5px 5px 5px; font-size: 20px;">Logout!</a>
            </div>
        </header>
        
        <main>
            <h1 style="color: rgb(9, 144, 9);">Your Document numbers handbook.</h1>
            <h3 style="color: rgb(50, 105, 192);">Store here, see anywhere.. by just logging in..</h3><br>
            <div class="documents-display">
                <div class="document-group">
                    <h3>AADHAR No:</h3>
                    <p><%= documents.aadhar || 'Not provided' %></p>
                </div>
                
                <div class="document-group">
                    <h3>Driving Licence No:</h3>
                    <p><%= documents.drivingLicense || 'Not provided' %></p>
                </div>

                <div class="document-group">
                    <h3>Ration Card No:</h3>
                    <p><%= documents.rationCard || 'Not provided' %></p>
                </div>

                <div class="document-group">
                    <h3>PAN Card No:</h3>
                    <p><%= documents.pan || 'Not provided' %></p>
                </div>

            </div>
            
            <form action="/save-details" method="POST" class="documents-form">

                 <div class="form-group">
                    <label for="aadhar">AADHAR No:</label>
                    <input type="text" id="aadhar" name="aadhar" placeholder="Enter your AADHAR Number" value="<%= documents.aadhar %>">
                </div>

                 <div class="form-group">
                    <label for="rationCard">Ration Card:</label>
                    <input type="text" id="rationCard" name="rationCard" placeholder="Enter your Ration Card number" value="<%= documents.rationCard %>">
                </div>

                <div class="form-group">
                    <label for="drivingLicense">Driving Licence No:</label>
                    <input type="text" id="drivingLicense" name="drivingLicense" placeholder="Enter your Driving Licence number" value="<%= documents.drivingLicense %>">
                </div>

                <div class="form-group">
                    <label for="pan">PAN No:</label>
                    <input type="text" id="pan" name="pan" placeholder="Enter your PAN(Permanent Account Number) Card number" value="<%= documents.pan %>">
                </div>

                <button type="submit" class="btn primary save-btn">Save Details</button>
            </form>
        </main>
    </div>
    <footer>by Desina Jaswnanth Sai Charan</footer>
</body>
</html>
